<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="container">
        <img src="/images/beer.png" alt="Beer Image">
        <a href="/beers">Check the beers</a>
        <a href="/random-beer">Check random beer</a>
    </div>
</body>
</html>

